.bbb{  
    
    background: url("http://tahoehomerepairs.com/images/background/bg04.jpg") no-repeat ;
    
    height:1200px; 
    /* width: 100%; */
    background-size: cover;
    background-position: center;
    max-width: 100%;
    
}


 
.logo{
     width:100px;
     height:60px;
     margin-left: 100px;
     margin-top: 20px;


}
.header{
    background-color:black;
    height: 100px;
    border: blanchedalmond ;
    display: grid;
    
}
.btn-dark{
    color: black;

}
.active{
    color: white;
    font-size: 20px;  
    border:2px solid white;
    background-color: black;

    
    
    
}

.btn-group{
 float: right; 
 margin-top: -55px; 
 margin-right: 900px; 
 margin-left: 250px;
margin-bottom: 15px;
}

.dropdown{
    
   width: 350px;
   display: inline-block;
      
}
.dropdown2{
    width: 100px;
    display: inline-block;
    margin-left: 10px;
    

}

.search{
margin-left: 500px;
margin-top: -50px;
border-radius: 50%;
}

.butn{
    border-radius: 20%;
    background-color: black;
    border-color: white;
    color: white;

}

.text-uppercase{
    color: orangered;
}

.para{
    color: orangered;
}

.login{
    width: 80px;
    margin-left: 1060px;
    margin-top: -50px;
    margin-bottom: 30px;
    height: 40px;
    border-radius: 20%;
    background-color: black;
    border-color: white;
    color: white;
    
    
}
.Register{
    width: 90px;
    height: 40px;
    border-radius: 20%;
    background-color: black;
    border-color: white;
    color: white;
    margin-left: 1170px;
    margin-top: -69px;
}

.btnProfile{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: url("https://cdn4.vectorstock.com/i/1000x1000/76/43/company-manager-icon-flat-style-vector-22367643.jpg");
    background-size: cover;
    margin-left: 1300px;
    margin-top: -69px;
}

.links{
   /* display:initial; */
   color:orangered ; 
   float: right; 
}

