.bbb{  
    
    background: url("http://tahoehomerepairs.com/images/background/bg04.jpg") no-repeat ;
    
    height:752px; 
    width: 100%;
    background-size: cover;
    background-position: center;
}


 
.logo{
     width:100px;
     height:60px;
     margin-left: 100px;
     margin-top: 20px;


}
.header{
    background-color:black;
    height: 90px;
    border: blanchedalmond ;
    display: grid;
    
}
.btn-dark{
    color: black;

}
.active{
    color: white;
    font-size: 20px;  
    border:2px solid white;
    background-color: black;

    
    
    
}

.btn-group{
 float: right; 
 margin-top: -55px; 
 margin-right: 900px; 
 margin-left: 250px;
margin-bottom: 15px;
}

.dropdown{
    
   width: 350px;
      
}

.search{
margin-left: 500px;
margin-top: -50px;
border-radius: 50%;
}

.butn{
    border-radius: 20%;
    background-color: black;
    border-color: white;
    color: white;

}

.text-uppercase{
    color: orangered;
}

.para{
    color: orangered;
}

.links{
    
}
